{% extends "base.html" %}

{% block header_image %}
  {% if ARCHIVE_HEADER_IMAGE %}
    {{- ARCHIVE_HEADER_IMAGE -}}
  {% else %}
    {{- COVER_IMG -}}
  {% endif %}
{% endblock %}

{% block header_type %}post-head{% endblock %}
{% block scroll %}{% endblock %}

{% block page_title%}Archivo{% endblock %}

{% block header_title %}
  <h1 class="page-title" itemprop="headline">Archivo</h1>
  <h2 class="page-description" itemprop="description">El histórico de los contenidos del sitio</h2>
{% endblock header_title %}

{% block content %}
<main id="content" class="content" role="main">
  <article class="post" itemscope="" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">

    <div style="clear: both;">
      <div style="">
        <h2>Lista de Temas</h2>
        <ul>
          {% for category, articles in categories %}
            <li>
            <a title="{{ category|striptags }}" href="{{ SITEURL }}/{{ category.url }}">
              {{ category }}
            </a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div style="">
        <h2>Lista de Artículos</h2>
        <ul>
          {% for article in articles %}
            <li><a title="{{ article.title|striptags }}" href="{{ SITEURL }}/{{ article.url }}">{{ article.title|striptags }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div style="clear: both;"></div>
  </article>

</main>
{% endblock content %}
